<ion-header>
  <ion-toolbar>
    <ion-title>
      NFC Pairing Demo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <p>Tag's AppName: {{nfcService.lastTagRead.appName}}</p>
    <p>Tag's mac Address: {{nfcService.lastTagRead.macAddress}}</p>
    <p>NFC Session State: {{deviceService.nfcSessionStateString}}</p>
    <p>BLE Session State: {{deviceService.bleSessionStateString}}</p>
    <p *ngIf="deviceService.bleSessionStateString != '' ">Tap is ready to use</p>
  </div>
</ion-content>
